.cardImage {
    height: 100px;
    width: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px rgb(107, 107, 107);
    padding: 5px;
    position: relative;
    background-color: white;
}

h1 {
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    width: 95vw;
}

aside {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: min-content;
    background-color: white;
}

.cardTitle {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    padding: 0 15px;
}

.price {
    margin: 3px;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(10, 161, 10);
    font-weight: 700;
    font-size: 16px;
}

nav img {
    height: 30px;
}

.shopNavBar {
    width: fit-content;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}

.title {
    display: flex;
    width: calc(100vw - 50px);
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.showIcon {
    display: block;
}

.hideIcon {
    display: none;
}

.infoIcon {
    height: 25px;
    width: auto;
    position: absolute;
    top: 100px;
    right: 8px;
    margin: 3px;
    filter: invert(39%) sepia(100%) saturate(2618%) hue-rotate(197deg) brightness(98%) contrast(95%);
}