.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartItem {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px grey;
    display: grid;
    grid-template-columns: fit-content(100px) 250px fit-content(100px);
    align-items: center;
    padding: 10px;
}

img {
    width: 100px;
    height: auto;
}

.checkoutBar {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.cartItemInfo {
    margin: 0 10px;
    justify-self: flex-start;
}

.cartItemTitle {
    font-size: 20px;
    font-weight: 500;
}

.checkout {
    background-color: rgb(2, 95, 33);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 5px;
}

.checkout:hover {
    box-shadow: 1px 1px 2px 2px grey;
}

.delete {
    height: 25px;
    width: auto;
    margin-left: 2px;
}

.nothingMessage {
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
}