input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttonsRow {
    display: flex;
    gap: 5px;
    justify-self: flex-end;
}

input {
    width: 20px;
    text-align: center;
}

button:disabled {
    background-color: rgb(202, 202, 202);
}

button:hover {
    box-shadow: var(--shadow);
}

input, button {
    background-color: var(--light-purple);
    color: white;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}