input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttons-row {
    display: flex;
    gap: 5px;
}

input {
    width: 20px;
    text-align: center;
}

button:disabled {
    border: solid 1px rgb(202, 202, 202);
}

button {
    background-color: white;
    border: solid 1px black;
    border-radius: 3px;
}