img {
    height: 100px;
    width: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px;
    text-align: center;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    padding: 0;
}

.container {
    display: flex;
}

aside {
    margin: 20px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}