:root {
    --link: rgb(119, 8, 110);
    --light-purple: rgb(186, 148, 197);
    --shadow: 2px 2px 3px 3px grey;
    font-family: "Delius Swash Caps", serif;
}

html {
    background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.navBar {
    --spacing: 15px;
    width: calc(100vw - (6 * var(--spacing)));
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px grey;
    padding: var(--spacing);
    margin: var(--spacing);
}

.navBarLink {
    margin: 10px;
    margin: 5px 20px;
    font-size: 20px;
}

a {
    color: var(--link);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    box-shadow: var(--shadow);
}

a:visited {
    color: var(--link);
}

footer {
    text-align: center;
    font-size: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: max-content;
    margin-left: auto;
}