:root {
    --link: rgb(60, 60, 194);
}

html {
    background-image: url(../../../public/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.navBar {
    --spacing: 15px;
    width: calc(100vw - (6 * var(--spacing)));
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px grey;
    padding: var(--spacing);
    margin: var(--spacing);
}

.navBarLink {
    margin: 10px;
    margin: 5px 20px;
    font-size: 20px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

footer {
    font-size: 12px;
    text-align: right;
}